body{
	--color-4: #363434;
	--color-2: #efecec;
	--color-3: #5c5757;
	--color-1: #62929a;
  background: var(--color-1);
  color: var(--color-2);
  font-family: "Suravaram", serif;
  font-size: 18px;
  cursor: default;
  user-select: none;  user-select: none;

}

::selection { background: transparent; } 
::-moz-selection { background: transparent; }

hr{
  border-color: var(--color-2);
}

.title{
  color: var(--color-2);
  text-align: center;
  font-size: 4vw;
  margin: 4%;
  height: 50px;
}

#page-container{
  width: 95%;
  margin-top: 5%;
}<hr>

.row{
  margin-bottom: 20px;
}

.article-box{
  background: var(--color-4);
  color: var(--color-2);
  border-style: solid;
  border-color: var(--color-3);
  margin-bottom: 10%;
  border-radius: 1%;
  padding: 5%;
  height: 600px;
  min-width: 300px;
  overflow: hidden;
}

.article-box:hover{
  cursor: pointer;
}


.title-frame{
  height: 40%;
  
}

.article-title{
  margin: auto;
  text-align: center;
  font-size: 130%;
  height: 45%;
  z-index: 4;
}

.article-source{
  font-size: 80%;
  padding-top: 10%;
}

.image-box{
  
  background-image: url("");
  background: var(--color-2);
  background-size: contain;
  margin: auto;
  border-radius: 5%;
  overflow: hidden;
  max-height: 30%;
}

.img-fluid{
  border-radius: 5%;
}


.article-date{
  font-size: 80%;
}

.article-description{
  overflow: hidden;
  object-fit: cover;
}

.navigation-bar{
  position: fixed;
  display: inline-block;
  top: 0%;
  background: RGBA(10, 10, 10, 60%);
  height: 30px;
  overflow-y: hidden;
}

#searchbox{
  top: 1%;
  left: 1%;
  display: inline-block;
  background-color: RGBA(90, 90, 90, 50%);
  border-style: none;
  width: 110px;
  height: 18px;
  color: #aeaeae;
}

#page-buttons{
  position: fixed;
  top: 6%;
  display: none;
}
.page-btn{
  font-size: 16px;
  color: #aeaeae;
  background: none;
}

.page-btn:hover{
  color: #eeeeee;
}
.page-btn:active, .page-btn:focus{
  color: #eeeeee;
  outline: none !important;
  box-shadow: none !important;
}
.page-btn:disabled{
  color: #444444 !important;
}

.subtext-info{
  font-size: 12px;
}


.sourcedate-frame{
  height: 20%;
  z-index: 2;
}

#destination-list{
  display: inline-block;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 99%;
  }



.destination {
 padding: 20px; 
}
destination:hover{
  color: #fff;
}

.credits-text{
  margin-left: 20px;
}

.navbar{
  overflow-x: auto;
  overflow-y: hidden;
  color: #666;
  position: relative;
  top: -5px;
  right: 0px;
}

#set-location{
	padding-right: 10px;
}



